<div class="p-5 w-100 d-flex justify-content-center">
  <button class="btn m-3" (click)="tab = 1" [class.active]="tab === 1">Ng Model expample</button>
  <button class="btn m-3" (click)="tab = 2" [class.active]="tab === 2">Structural Directive expample</button>
  <button class="btn m-3" (click)="tab = 3" [class.active]="tab === 3">Template driven Forms</button>
  <button class="btn m-3" (click)="tab = 4" [class.active]="tab === 4">Reactive Forms</button>
</div>


<ng-container [ngSwitch]="tab">
  <div *ngSwitchCase="1">
    <app-ng-model-example ></app-ng-model-example>
  </div>
  <div *ngSwitchCase="2">
    <app-structural-directive-example></app-structural-directive-example>
  </div>
  <div *ngSwitchCase="3">
    <app-template-driven-forms></app-template-driven-forms>
  </div>
  <h3 class="w-100 p-5 d-flex justify-content-center text-muted" *ngSwitchDefault>Nothing to show</h3>
</ng-container>